.current {
    color: red;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    /* margin-top: auto;
    margin-bottom: auto; */
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


/* GAME X-0 */
.game__content {
    width: 236px;
    height: 236px;

    margin-right: auto;
    margin-left: auto;

    margin-top: 20px
}

@media screen and (min-width: 320px) {
    .game__content {
        width: 290px;
        height: 290px;
    }
}

@media screen and (min-width: 480px) {
    .game__content {
        width: 440px;
        height: 440px;
    }
}

@media screen and (min-width: 720px) {
    .game__content {
        width: 680px;
        height: 680px;
    }
}

@media screen and (min-width: 1200px) {
    .game__content {
        width: 1170px;
        height: 1170px;
    }
}


@media screen and (min-height: 320px) {
    .game__content {
        width: 290px;
        height: 290px;
    }
}

@media screen and (min-height: 480px) {
    .game__content {
        width: 440px;
        height: 440px;
    }
}

@media screen and (min-height: 720px) {
    .game__content {
        width: 680px;
        height: 680px;
    }
}

@media screen and (min-height: 1200px) {
    .game__content {
        width: 1170px;
        height: 1170px;
    }
}

.game__item {
    display: inline-block;
    /* width: 100px;
    height: 100px; */
    width: 32%;
    height: 32%;


    /* font-size: 70px; */

    /* font-size: 10rem; */
    font-size: calc((100vw - 480px)/(1280 - 480) * (70 - 50) + 50px);
    /* line-height: 2.5; */
    text-align: center;
    vertical-align: middle;
    border: 1px solid blue;
    cursor: pointer;
    transition: background-color linear 1000;

}

/* @media screen and (min-width: 320px) {
    .game__item {
        width: 30%;
        height: 30%;
    }
} */

.game__item:hover {
    background-color: green;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 93px 15px 94px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: transform var(--animation), visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
    visibility: hidden;
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
}

@media screen and (min-width: 1200px) {
    .backdrop {
        padding: 0;
    }
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media screen and (min-width: 480px) {
    .modal {
        /* max-width: 300px; */
        /* min-height: 609px; */
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 528px;
        height: 581px;
        max-width: 100%;
        min-height: auto; */
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    fill: var(--black-color);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill var(--animation);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
    fill: var(--accent-color);
}